@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

/* colors start*/
:root {
  /* light mode colors  */
  --lightmode-background: #FFF2E0;
  --lightmode-text: #000;
  --lightmode-button-bg: #7FC7CC;
  --lightmode-button-text: #FFF2E0;
  --lightmode-links: #092F33;
  --lightmode-svg: #092F33;
}

.dark-mode {
  /* dark mode colors */
  --darkmode-background: #092F33;
  --darkmode-text: #FFF2E0;
  --darkmode-button-bg: #FFF2E0;
  --darkmode-button-text: #092F33;
  --darkmode-links: #FFF2E0;
  --darkmode-svg: #FFF2E0;
}

/* colors end */

/* theme switch start  */

#theme-switch {
  background-color: var(--variant-color);
  max-width: 50px;
  max-height: 50px;
  margin: 0;
  padding: 5px;
  border-radius: 50%;
  border: var(--text-color) solid 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#theme-switch svg:last-child {
  display: none;
}

.darkmode #theme-switch svg:first-child {
  display: none;
}

.darkmode #theme-switch svg:last-child {
  display: block;
}

#logo img:last-child {
  display: none;
}

.darkmode #logo img:first-child {
  display: none;
}

.darkmode #logo img:last-child {
  display: block;
}

/* theme switch end */
/* text styles start */

h1 {
  font-family: "Courgette", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 5rem;
}

h2 {
  font-family: "Figtree", sans-serif;
  font-weight: 700;
  font-size: 3.813rem;
}

h3 {
  font-family: "Figtree", sans-serif;
  font-weight: 700;
  font-size: 2.938rem;
}

h4 {
  font-family: "Figtree", sans-serif;
  font-weight: 700;
  font-size: 2.250rem;
}

h5 {
  font-family: "Figtree", sans-serif;
  font-weight: 700;
  font-size: 1.688rem;
}

nav {
  font-family: "Figtree", sans-serif;
  font-weight: 500;
  font-size: 1.313rem;
}

p {
  font-family: "Figtree", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

.small-text {
  font-family: "Figtree", sans-serif;
  font-weight: 400;
  font-size: 0.750rem;
}

.subheader-01 {
  font-family: "Figtree", sans-serif;
  font-weight: 700;
  font-size: 2.250rem;
}

.subheader-02 {
  font-family: "Figtree", sans-serif;
  font-weight: 700;
  font-size: 1.688rem;
}

.primary-button {
  font-family: "Figtree", sans-serif;
  font-weight: 500;
  font-size: 1.313rem;
}

a {
  font-family: "Figtree", sans-serif;
  font-weight: 500;
  font-size: 1.313rem;
}

/* text styles end*/

/* body styles start */

body {
  background-color: var(--lightmode-background);
  color: var(--lightmode-text);
}

/* body styles end */