@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import '/app/CSS/pages-styles.css';

/* colors start*/
:root {
  /* all colors */
  --parchement-paper: #FFF2E0;
  --sky-blue: #7FC7CC;
  --deep-sea: #092F33;
  --moss-green: #4B5B34;
  --terracotta: #AF5031;
  --cherrry-blossom: #FDABA5;
  --red-wine: #980204;
  --sunshine-yellow: #EA8913;
  --pure-black: #000;
  --pure-white: #fff;


  /* light mode colors  */
  --lightmode-background: var(--parchement-paper);
  --lightmode-text: var(--pure-black);
  --lightmode-button-bg: var(--sky-blue);
  --lightmode-button-text: var(--parchement-paper);
  --lightmode-links: var(--deep-sea);
  --lightmode-svg: var(--deep-sea);

  /* dark mode colors */
  --darkmode-background: var(--deep-sea);
  --darkmode-text: var(--parchement-paper);
  --darkmode-button-bg: var(--parchement-paper);
  --darkmode-button-text: var(--deep-sea);
  --darkmode-links: var(--parchement-paper);
  --darkmode-svg: var(--parchement-paper);
}

/*light mode color styles*/
body {
  background-color: var(--lightmode-background);
  color: var(--lightmode-text);


  a {
    color: var(--lightmode-links);
  }

  .btn-primary {
    background-color: var(--lightmode-button-bg);
    color: var(--lightmode-button-text);
  }

  .btn-primary:hover {
    background-color: var(--parchement-paper);
    color: var(--deep-sea);
    stroke: solid 2px var(--deep-sea);
  }

  .btn-secondary {
    background-color: var(--parchement-paper);
    color: var(--deep-sea);
    stroke: solid 2px var(--deep-sea);
  }

  .btn-secondary:hover {
    background-color: var(--deep-sea);
    color: var(--parchement-paper);
  }

  .hero-panel {
    background-color: var(--deep-sea);
    color: var(--parchement-paper)
  }

  footer {
    border-top: 1.5px solid var(--pure-black);
    color: var(--gray-tone);
  }

  .footer-links a {
    color: var(--gray-tone);
  }

  .footer-links a:hover {
    color: var(--pure-black);
  }

  .checkbox-row label {
    color: var(--pure-black);
  }

  .eye-btn {
    color: var(--gray-tone);
  }

  .input-wrap input {
    border: 1.5px solid var(--border);
  }

  .input-wrap input::placeholder {
    color: var(--gray-tone);
  }

  .input-wrap input:focus {
    border-color: var(--pure-black);
  }

}

/*dark mode color styles*/

body.dark {
  background-color: var(--darkmode-background);
  color: var(--darkmode-text);


  a {
    color: var(--darkmode-links);
  }

  .btn-primary {
    background-color: var(--darkmode-button-bg);
    color: var(--darkmode-button-text);
  }

  .btn-primary:hover {
    background-color: var(--parchement-paper);
    color: var(--deep-sea);
    stroke: solid 2px var(--deep-sea);
  }

  .btn-secondary {
    background-color: var(--parchement-paper);
    color: var(--deep-sea);
    stroke: solid 2px var(--deep-sea);
  }

  .btn-secondary:hover {
    background-color: var(--deep-sea);
    color: var(--parchement-paper);
  }

  .hero-panel {
    background-color: var(--parchement-paper);
    color: var(--deep-sea)
  }

  footer {
    border-top: 1.5px solid var(--parchement-paper);
    color: var(--parchement-paper);
  }

  .footer-links a {
    color: var(--parchement-paper);
  }

  .footer-links a:hover {
    color: var(--parchement-paper);
  }

  .checkbox-row label {
    color: var(--parchement-paper);
  }

  .eye-btn {
    color: var(--parchement-paper);
  }

  .input-wrap input {
    border: 1.5px solid var(--deep-sear);
  }

  .input-wrap input::placeholder {
    color: var(--deep-sea);
  }

  .input-wrap input:focus {
    border-color: var(--parchement-paper);
  }

}

/* colors end */

/* theme switch start  */
.toggle {
  height: 50px;
  width: 175px;
  background-color: var(--lightmode-background);
  border: 2px solid var(--deep-sea);
  position: relative;
  border-radius: 100px;
  cursor: pointer;
}

.toggle::before {
  content: "";
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: var(--deep-sea);
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
}

.toggle.active::before {
  background-color: var(--deep-sea);
  color: var(--parchement-paper);
  left: calc(100% - 45px);
}

/* .toggle p{
  display: flex;
  flex-flow: row nowrap;
  justify-items: flex-start;
} */

/* theme switch end */
/* text styles start */

h1 {
  font-family: "Courgette", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 5rem;
}

h2 {
  font-family: "Figtree", sans-serif;
  font-weight: 700;
  font-size: 3.813rem;
}

h3 {
  font-family: "Figtree", sans-serif;
  font-weight: 700;
  font-size: 2.938rem;
}

h4 {
  font-family: "Figtree", sans-serif;
  font-weight: 700;
  font-size: 2.250rem;
}

h5 {
  font-family: "Figtree", sans-serif;
  font-weight: 700;
  font-size: 1.688rem;
}

nav {
  font-family: "Figtree", sans-serif;
  font-weight: 500;
  font-size: 1.313rem;
}

p {
  font-family: "Figtree", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

label {
  font-family: "Figtree", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

.small-text {
  font-family: "Figtree", sans-serif;
  font-weight: 400;
  font-size: 0.750rem;
}

.subheader-01 {
  font-family: "Figtree", sans-serif;
  font-weight: 700;
  font-size: 2.250rem;
}

.subheader-02 {
  font-family: "Figtree", sans-serif;
  font-weight: 700;
  font-size: 1.688rem;
}

.primary-button {
  font-family: "Figtree", sans-serif;
  font-weight: 500;
  font-size: 1.313rem;
}

a {
  font-family: "Figtree", sans-serif;
  font-weight: 500;
  font-size: 1.313rem;
}

footer{
    font-size: 0.78rem;
}

.footer-links a {
  text-decoration: none;
  font-size: 0.82rem;
}

.nav-signin {
  font-size: 0.9rem;
  text-decoration: none;
  font-weight: 400;
}

.nav-signin:hover {
  text-decoration: underline;
}

.checkbox-row label{
  font-size: 0.82rem;
  line-height: 1.5;
}
/* text styles end*/

/* body styles start */

body {
  max-width: 1440px;
  margin: 25px 72px;
}

hr {
  stroke-width: 2px;
}


/* nav styles */
/* body styles end */